.learning-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px 70px 50px 0px;
}

.learning-index-container {
  position: relative;
  padding: 5rem;
}

.index-divider {
  height: 1px;
  border-bottom: 1px solid var(--periwinkle);
}

.index-divider:last-child {
  display: none;
}

.admin-btns {
  display: flex;
  gap: 1rem;
  float: right;
  /* position: sticky;
  top: 2rem;
  right: 2rem; */
}

.chapter-edit-btn,
.chapter-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--tropical-indigo);
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.chapter-edit-btn img {
  width: 2.4rem;
}

.chapter-delete-btn img {
  width: 1.8rem;
}

@media (max-width: 650px) {
  .learning-main {
    padding: 7rem;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .learning-index-container {
    display: none;
  }
}
