@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --milky-grey: #f8fafb;
  --periwinkle: #d4dcff;
  --chilly-red: #fe7575;
  --white: #fff;
  --selective-yellow: #feba00;
  --tropical-indigo: #7282fe;
  --oxford-blue: #061a40;
  --v-purple: #ada2ff;
  --v-slate-blue: #c0deff;
  --v-slate-pink: #ffe5f1;
  --v-slate-yellow: #fff8e1;
  --milky-white: #fefcff;
  --dark-black: #36393e;
  --black: #000;
  --logo-purple: #7a45ff;
  --parrot-green: #57dd94;
}

[data-theme="dark"] {
  --milky-grey: #36393e;
  --periwinkle: #7282fe;
  --chilly-red: #fe7575;
  --white: #fff;
  --selective-yellow: #feba00;
  --tropical-indigo: #7a45ff;
  --oxford-blue: #d3e3ff;
  --v-purple: #ada2ff;
  --v-slate-blue: #c0deff;
  --v-slate-pink: #ffe5f1;
  --v-slate-yellow: #fff8e1;
  --milky-white: rgb(20, 20, 20);
  --dark-black: #454546;
  --black: #fff;
  --parrot-green: #57dd94;
}

[data-theme="dark"] .learning-btn-subtitle {
  color: #eaeaea !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  /* transition: color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--milky-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--tropical-indigo);
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.code {
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 1024px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 43%;
  }
}
