.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.nav-item:hover {
  background-color: var(--periwinkle);
  border-radius: 0 1rem 1rem 0;
}

.nav-item-txt {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;

  padding: 1.8rem 5rem;
  color: var(--black);
}

.nav-item.active {
  color: var(--logo-purple);
}

.nav-item.active::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-purple);
  height: 4.5rem;
  width: 0.6rem;
  border-radius: 0 2rem 2rem 0rem;
}
