.quiz-options .option {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--periwinkle);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  /* identical to box height */

  display: flex;
  align-items: center;

  cursor: pointer;

  color: var(--black);
}

.quiz-options .option.active {
  background-color: var(--tropical-indigo);
  color: white;
}

.quiz-options .option.correct {
  background-color: var(--parrot-green);
}

.quiz-options .option.wrong {
  background-color: var(--chilly-red);
}
