.edit-notes {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.save-btn-container {
  position: sticky;
  top: 2rem;
}

.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--tropical-indigo);
  height: 4rem;
  width: 4rem;
  cursor: pointer;

  float: right;
}

.save-btn img {
  width: 2.4rem;
}

.go-back-btn {
  display: flex;
  gap: 1.5rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  width: 15rem;
  cursor: pointer;
  position: absolute;
}

.go-back-btn img {
  filter: invert();
}

.edit-notes .editor-container {
  width: 70vw;
  margin: auto;
}

.jodit-status-bar a.jodit-status-bar-link {
  display: none;
}

.jodit-wysiwyg {
  min-height: 40vh !important;
  font-size: 16px;
  font-family: poppins;
}

.jodit-status-bar {
  height: fit-content;
  position: sticky;
  bottom: 0;
}
