.edit-notes {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.go-back-btn {
  display: flex;
  gap: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
}

.go-back-btn img {
  filter: invert();
}

.edit-notes .editor-container {
  width: 70vw;
  margin: auto;
}
