.learning-index-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  box-sizing: border-box;

  position: sticky;
  top: 5rem;

  padding: 3rem 2rem;

  background: var(--milky-grey);

  border: 0.2rem solid var(--periwinkle);
  border-radius: 2rem;
}

.learning-index-item {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;

  display: flex;
  align-items: center;

  color: var(--black);
  cursor: pointer;
}

.learning-index-item.active {
  font-weight: 700;
  color: var(--logo-purple);
}

@media (max-width: 650px) {
  .learning-index-box {
    display: none;
  }
}
