.progress-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  gap: 10px;

  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  color: var(--black);

  width: 95%;
  margin: auto;
}
