.course-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding: 50px;
}

.course-upload-container .heading {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.course-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.form-item-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-item-wrapper.chapter {
  grid-template-columns: 0.1fr 1fr;
}

.form-item input,
.form-item select,
.form-item textarea {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  border: 1px solid var(--black);
  border-radius: 5px;
  outline: none;
}

.quiz-title {
  text-align: center;
  margin-top: 30px;
}

.course-quiz-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-submit-btn {
  justify-content: center;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 27px;
}

.jodit-status-bar a.jodit-status-bar-link {
  display: none;
}
