.quiz-container {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  padding: 2rem 5rem;

  margin: auto;
  background-color: var(--milky-grey);
}

.quiz-count {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--tropical-indigo);
  width: fit-content;
  color: var(--white);

  font-family: "Poppins";
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}

.quiz-question-count {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--black);
  opacity: 0.5;
}

.quiz-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 2.5rem;
  width: 70%;
  margin: 3rem 5rem;
}

.quiz-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.quiz-question {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  display: flex;
  align-items: center;

  color: var(--black);
}

.quiz-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem 3.4rem;
}

.quiz-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quiz-nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.8rem 1.4rem;
  border-radius: 0.5rem;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;

  display: flex;
  align-items: center;
  text-align: right;

  cursor: pointer;
}

.quiz-nav-prev {
  background-color: var(--periwinkle);
  color: var(--black);
}

.quiz-nav-nxt {
  background-color: var(--tropical-indigo);
  color: var(--white);
}

.quiz-warning {
  color: var(--chilly-red);
}

@media (max-width: 550px) {
  .quiz-options {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 380px) {
  .quiz-container {
    padding: 2rem;
  }
  .quiz-main {
    width: 90%;
    margin: 2.5rem auto;
  }
}
