.index-hero {
  height: 300px;
  background: #d9d9d9;
}

.index-main {
  display: flex;
  gap: 35px;
}

.index-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 350px;

  background: var(--milky-grey);
  border-radius: 0px 20px 20px 0px;
}

.index-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.index-cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  margin-left: 15px;
}

.index-chapters-container {
  background-color: var(--milky-grey);
  width: 70vw;
  border-radius: 20px;
  height: 100vh;
}
