.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;
  background-color: var(--milky-grey);
}

.logo-small {
  display: none;
}

@media (max-width: 480px) {
  .navbar {
    padding: 3rem;
  }

  .logo {
    display: none;
  }

  .logo-small {
    display: block;
  }
} ;
